body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loading {
  max-width: 50%;
  line-height: 1.4;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  transform: scale(1.5);
}

.loading__author {
  font-weight: normal;
  font-size: 0.9rem;
  color: rgb(111, 110, 110);
  margin: 0.6rem 0 2rem 0;
  display: block;
}

.loading h1, .loading p {
  margin-bottom: 5px;
  margin-top: 5px;
}

.loading {
  box-shadow: 0 0 5px black;
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin-right: auto;
  margin-left: auto;
}