<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Deepfake Detector bad</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1>Bad Aesthetic Deepfake Detector</h1>
    <p>This deepfake detector has a bad aesthetic element choice and placement</p>

    <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
    <label for="image">Choose an image:</label><br>
    <input type="file" id="image" name="image" accept="image/*" required>
    <br><br>
    <button type="submit">Analyze image</button>
    </form>

    <script src="index.js"></script>
  </body>
</html>