<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Analyzing Image...</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.slate.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
  </head>
  <body>

    <section class="loading">
        <h1>Analyzing image...</h1>
        <p>File: <strong>{{ filename }}</strong></p>
        <p>Estimated analysis time: about 5 seconds.</p>

        <span class="loading__author"> - Your Arbiters at Monolith</span>

        <progress />
    </section>

    <script>
        const waitSeconds = JSON.parse('{{ wait_seconds }}');

        setTimeout(function () {
            window.location.href = "{{ url_for('results') }}";
        }, waitSeconds * 1000);       
    </script>
    <script src="{{url_for('static', filename='js/norightclick.js')}}"></script>
  </body>
</html>